@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mooli&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,900&display=swap');
*{
    font-family: 'Dongle', sans-serif;

}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between; /*po osy x vyravnivaet elementy*/
    align-items: center;
    height:10vh;
    width:100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.logo{
    margin-left:0px;
    margin-top: 0px;
    color: rgb(9,9,9);
}
.logo img{
    height: 7vh;
    margin-left: 0px;
    margin-top: 0px;
}
.logo h1{
    color: rgb(0, 2, 3);
    font-size: 20px;
    margin-top: -40px;
    margin-left: 50px;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    padding:0px 25px;
    font-size: 1.5rem;
    color:rgb(1, 9, 16);
    transition: all ease 0.3s;
}
.nav ul li a:hover{
    color:rgb(244, 121, 7);
    font-weight: bolder;
}
.user{
    cursor: pointer;
    color: rgba(9, 0, 0, 0.901);
    margin-top: 0px;
    margin-right: 40px;
}
.user a{
    text-decoration: none;
    color:rgb(246, 243, 243);
    background-color: rgb(6, 6, 6);
    border-radius: 10px;
    padding:10px 30px;
    transition: all ease 0.3s;
    font-size: 1.5rem;
}
.user a:hover{
    background-color: rgb(248, 243, 243);
    color:rgb(11, 11, 11);
    font-weight: bolder;
}
.user i{
    font-size: 25px;
    margin-right: 10px;
    transition: all ease 0.3s;
}
.user i:hover{
    color: rgb(244, 121, 7);
}
.book{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(https://aromaxxi.ru/upload/medialibrary/03d/Ritz-Carlton-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
}
.book-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: aliceblue
}
.book-content h1{
    font-size: 3rem;
}
.book-content h2{
    font-size: 2rem;
    margin-top: -20px;
    margin-bottom: 20px;
}
input{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(244, 121, 7);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all ease 0.3s;
}
input:hover{
    background-color: rgb(84, 83, 83);
}
button{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(244, 121, 7);
    padding: 13px 30px;
    border-radius: 50px;
    transition: all ease 0.3s;
}
button:hover{
    background-color: rgb(84, 83, 83);
}
.book{
    text-align: center;
}

