@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mooli&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,900&display=swap');
*{
    font-family: 'Dongle', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Roboto', sans-serif;

}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between; /*po osy x vyravnivaet elementy*/
    align-items: center;
    height:10vh;
    width:100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.logo{
    margin-left:0px;
    margin-top: 0px;
    color: rgb(9,9,9);
}
.logo img{
    height: 10vh;
    margin-left: -30px;
    margin-top: 0px;
}
.logo h1{
    color: rgb(0, 2, 3);
    font-size: 20px;
    margin-top: -50px;
    margin-left: 50px;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    padding:0px 25px;
    color:rgb(1, 9, 16);
    transition: all ease 0.3s;
}
.nav ul li a:hover{
    color:rgb(244, 121, 7);
    font-weight: bolder;
}
.user{
    cursor: pointer;
    color: rgba(9, 0, 0, 0.901);
    margin-top: 0px;
    margin-right: 40px;
}
.user a{
    text-decoration: none;
    color:rgb(246, 243, 243);
    background-color: rgb(6, 6, 6);
    border-radius: 10px;
    padding:10px 30px;
    transition: all ease 0.3s;
}
.user a:hover{
    background-color: rgb(248, 243, 243);
    color:rgb(11, 11, 11);
    font-weight: bolder;
}
.user i{
    font-size: 25px;
    margin-right: 10px;
    transition: all ease 0.3s;
}
.user i:hover{
    color: rgb(244, 121, 7);
}
.home{
    position: relative;
    height: 600px;
    margin-top: 9px;
    overflow: hidden;
}
.home-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: aliceblue;
}
.home-content h1{
    font-size: 3rem;
}
.home-content p{
    font-size: 1.2rem;
    margin-top: -20px;
    margin-bottom: 20px;
}
.home-button{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(244, 121, 7);
    padding: 12px 30px;
    border-radius: 50px;
    transition: all ease 0.3s;
}
.home-button:hover{
    background-color: rgb(84, 83, 83);
}
.destinations{
    font-size: 1.5rem;
    margin: 40px 80px;
    text-align: center;
}
.destinations h2{
    margin-bottom: 40px;
}
.destination-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.destination-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.destination-item{
    text-align: left;
}
.destination-item h3{
    font-size: 2rem;
}
.destination-item h3 a{
    text-decoration: none;
    color: black;
}
.destination-item h3 a:hover{
    color:rgb(244, 121, 7);
    font-weight: bolder;
}
.destination-item h3:hover{
    color:rgb(244, 121, 7);
    font-weight: bolder;
}
.destination-item p{
    font-size: 1.2rem;
    line-height: 2;
}
